name: CI

on:
  push:
    branches: [ master ]
#   pull_request:
#     branches: [ master ]

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: List files
      run: ls -lh

    - name: Merge files
      run: |
        cat 1.txt 2.txt > hello.txt

    - name: Test modified
      id: test_modified
      run: |
        if [ "$(git diff hello.txt)" != "" ]; then
          echo '::set-output changed=1'
        fi

    - name: Commit files
      if: ${{ steps.test_modified.outputs.changed == '1' }}
      run: |
        /usr/bin/git config --local user.email "action@github.com"
        /usr/bin/git config --local user.name "GitHub Action"
        /usr/bin/git add hello.txt && /usr/bin/git commit -m "Merge files"
    
    - name: Push changes
      if: ${{ steps.test_modified.outputs.changed == '1' }}
      env:
        github_token: ${{ secrets.GITHUB_TOKEN }}
      run: |
        /usr/bin/git push "https://${github_token}@github.com/amorphobia/test_action.git" HEAD:master
